{{- $private := include ".private_config.yaml.age" | decrypt | fromYaml -}}
[profile ridecell]
sso_session = ridecell
sso_account_id = {{ $private.aws.sso_account_id }}
sso_role_name = bedrock-invoke
region = us-west-2
output = json
[sso-session ridecell]
sso_start_url = {{ $private.aws.sso_start_url }}
sso_region = us-west-2
sso_registration_scopes = sso:account:access
