Host patoumatic dropbear-patoumatic
  HostName {{ secret(name="PATOUMATIC_SERVER_IP") }}
  User {{ secret(name="PATOUMATIC_SERVER_USER") }}

# Initramfs unlock listens on 2222, the running system on 22
Host dropbear-patoumatic
  Port 2222

Host crooz
  HostName {{ secret(name="CROOZ_SERVER_IP") }}
  User {{ secret(name="CROOZ_SERVER_USER") }}

Host azade
  HostName {{ secret(name="AZADE_SERVER_IP") }}
  User {{ secret(name="AZADE_SERVER_USER") }}

Host badger
  HostName {{ secret(name="BADGER_SERVER_IP") }}
  User {{ secret(name="BADGER_SERVER_USER") }}

Host *
  IdentityAgent ~/.bitwarden-ssh-agent.sock
