Host patoumatic dropbear-patoumatic
  HostName {{ vars.SSH_PATOUMATIC_IP }}
  User {{ vars.SSH_PATOUMATIC_USER }}

# Initramfs unlock listens on 2222, the running system on 22
Host dropbear-patoumatic
  Port 2222

Host crooz
  HostName {{ vars.SSH_CROOZ_IP }}
  User {{ vars.SSH_CROOZ_USER }}

Host azade
  HostName {{ vars.SSH_AZADE_IP }}
  User {{ vars.SSH_AZADE_USER }}

Host badger
  HostName {{ vars.SSH_BADGER_IP }}
  User {{ vars.SSH_BADGER_USER }}

Host *
  IdentityAgent ~/.bitwarden-ssh-agent.sock
