{{- $private := include ".private.yaml.age" | decrypt | fromYaml -}}
Host azade
  HostName {{ $private.ssh.azade_ip }}
  User {{ $private.ssh.azade_user }}

Host *
  UseKeychain yes
  AddKeysToAgent yes
  IdentityFile ~/.ssh/id_ed25519
  SetEnv TERM=xterm-256color

Include ~/.colima/ssh_config
