export BRAVE_API_KEY="{{ vars.BRAVE_API_KEY }}"
export FIREWORKS_API_KEY="{{ vars.FIREWORKS_API_KEY }}"
export RIDECELL_INFERENCE_API_KEY="{{ vars.RIDECELL_INFERENCE_API_KEY }}"
export NVIDIA_API_KEY="{{ vars.NVIDIA_API_KEY }}"
